body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #FFFF00;
    background-color: blue;
}

p {
  color: blue;
  }

h1 {
   color: violet;
   }

.hidden {
    display: none; /* Hide elements by default */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #ADD8E6;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}
