body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #000080;
    background-color: #FFFF00;
    padding-top: 50px;
}

p {
    color: blue;
}

h1 {
    color: #8A2BE2; /* Violet */
}

.hidden {
    display: none; /* Hide elements by default */
}

.container {
    width: 80%;
    max-width: 250px;
    margin: 0 auto; /* Center horizontally */
    padding: 50px;
    background: #FFC0CB;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    color: white; /* text color inside container */
    
    /* To center vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: inline-block; /* allow side-by-side buttons */
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFA500; /* orange */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #00FF00; /* Lime */
    color: #000080; /* Dark Blue for better contrast */
}

#share-buttons {
    margin-top: 20px;
}

#share-buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #1DA1F2; /* Twitter blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#share-buttons button:last-child {
    background-color: #1877F2; /* Facebook blue */
}

#progress-bar {
    transition: width 0.3s ease-in-out;
}

#progress-bar-container {
    width: 100%; /* Ensures the container is not wider than the screen */
    max-width: 100%; /* Prevents any overflow */
    background: #eee;
    border-radius: 10px;
    margin: 20px 0;
    box-sizing: border-box; /* Includes padding in the width */
    padding: 5px;
}

#progress-bar {
    height: 20px;
    width: 0%; /* This will dynamically change */
    background: limegreen;
    border-radius: 10px;
    transition: width 0.3s ease;
}

#progress-text {
    font-size: 18px;
    font-weight: bold;
    color: #4B0082; /* Indigo for better contrast */
    margin-top: 10px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px; /* Smaller font size for mobile */
    }

    .container {
        padding: 30px;
        width: 90%;
    }

    button {
        font-size: 14px; /* Smaller button font size */
    }
}

/* Preventing any horizontal overflow on the page */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
